#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #46A358);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #46A358);
}

.loading {
  background: linear-gradient(80deg, #d0d3d6 25%, #ffffff 50%, #d0d3d6 75%);
  background-size: 200% 100%;
  animation: loading 2s infinite linear;
  border-radius: 8px;
}
